body.pause {
  opacity: 0.5;
  pointer-events: none;
}

body.pause a {
  cursor: not-allowed !important;
}

.Header {
  height: 120px;
}

.Logo {
  width: 120px;
  height: 120px;
}

.App {
  border: 1px solid black;
  padding: 0px;
}

.Title {
  padding: 10px;
  vertical-align: middle;
}

.H1 {
  position: absolute;
  top: 35px;
}

.HeaderImage img {
  padding: 0px;
}

.Content {
  padding: 10px 0px;
  margin-bottom: 30px;
}

.ImageLayout {
  padding: 0px;
  margin-bottom: 10px !important;
}

.Pagination {
  text-align: right;
}

.Pagination a {
  cursor: pointer;
  margin-left: 10px;
  color: black !important;
  text-decoration: none;
  font-size: 18px;
}

.Pagination a.active {
  color: blue !important;
}
